@reference "../../styles.css";

.banner-bg {
    @apply bg-[url(public/bannerprincipal.png)] bg-auto bg-center bg-cover;
}

.banner-bg-paintings {
    @apply bg-[url(public/nature_paintings.jpg)] bg-auto bg-center bg-cover;
}

.align-items-banner {
    @apply pt-47 grid grid-cols-1 flex justify-items-center;
}

.banner-text {
    @apply text-center text-2xl font-semibold italic text-white;
}

.carousel-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
}

.banner-bg {
    min-width: 100%;
    box-sizing: border-box;
}

.banner-bg-paintings {
    min-width: 100%;
    box-sizing: border-box;
}

.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    z-index: 10;
    padding: 0.5rem 1rem;
}

.carousel-control.prev {
    left: 10px;
}

.carousel-control.next {
    right: 10px;
}