@if (showMessage) {
    <div class="w-full">
        <p-message severity={{severityMessage}} >{{giftMessage}}</p-message>
    </div>
}

@if (validGift) {
    <div class="align-cards">
        <p-card [style]="{ width: '20rem', overflow: 'hidden' }">
            <ng-template #title> 
                <i class="pi pi-gift" style="font-size: 1.5rem"></i>
                Resgatar Gift 10%OFF
            </ng-template>
            <ng-template #subtitle> Informe seu nome e WhatsApp para resgatar o gift </ng-template>

            <form [formGroup]="form" class="align-inputs">

                <p-inputgroup>
                    <p-inputgroup-addon>
                        <i class="pi pi-user"></i>
                    </p-inputgroup-addon>

                    <input
                        pInputText
                        formControlName="name"
                        placeholder="Seu nome"
                        class="w-[75%] p-2 border rounded" />
                </p-inputgroup>

                <p-inputgroup>
                    <p-inputgroup-addon>
                        <i class="pi pi-whatsapp"></i>
                    </p-inputgroup-addon>

                    <input
                        pInputText
                        type="tel"
                        formControlName="phone"
                        placeholder="Ex.: +55 11 99999-9999"
                        class="w-[75%] p-2 border rounded"
                        autocomplete="tel" />
                </p-inputgroup>

            </form>

            <ng-template #footer>
                <p-button severity="success" icon="pi pi-receipt" 
                [disabled]="form.invalid"
                label="Resgatar" class="w-full" styleClass="w-full" 
                (onClick)="claimGift()"
                />
            </ng-template>
        </p-card> 
    </div>
}

    @if (qrVisible) {
        <div class="flex flex-col items-center gap-4">

            <qrcode
            [qrdata]="qrValue"
            [width]="250"
            [errorCorrectionLevel]="'M'">
            </qrcode>
            <p class="text-center">
                Tire um print do QRCode para utilizar futuramente
            </p>

            <input
            pInputText
            [value]="qrValue"
            readonly
            class="w-full" />        
        </div>
    }