
<article class="text-balance justify-items-center">
    
    <blockquote class="title-text">
        Painel Gift Card    
    </blockquote>

    <p class="text-indent-default">Gerencie os gift cards para suas clientes</p>
    
</article>

  
<div class="align-cards">
    <p-card [style]="{ width: '20rem', overflow: 'hidden' }">
        <ng-template #title> 
            <i class="pi pi-gift" style="font-size: 1.5rem"></i>
                Gerar Gift 
        </ng-template>
        <ng-template #subtitle> Crie um novo gift card para suas clientes </ng-template>

        <ng-template #footer >
            <p-button severity="success" icon="pi pi-plus" 
            [loading]="generating"
            label="Gerar novo gift" class="w-full" styleClass="w-full" 
            (onClick)="generateGift()"
            />                

            @if (qrVisible) {
            <div class="flex flex-col items-center gap-4 mt-10">
    
                <qrcode
                [qrdata]="qrValue"
                [width]="250"
                [errorCorrectionLevel]="'M'">
                </qrcode>
            </div>
                <p class="text-center mt-4">                       
                Escaneie o QR Code para resgatar o gift.
                </p>
    
                <input
                pInputText
                [value]="qrValue"
                readonly
                class="w-full mt-4 mb-4" />

                <p-button                
                icon="pi pi-copy"
                label="Copiar Link"
                severity="success"
                styleClass="w-full" 
                (onClick)="copyLink()">
                </p-button>
    
            
        }
        </ng-template>

        
    </p-card>   

    <p-card [style]="{ width: '20rem', overflow: 'hidden' }">
        <ng-template #title>
            <i class="pi pi-shield" style="font-size: 1.5rem"></i> 
            Validar uso do Gift 
        </ng-template>
        <ng-template #subtitle> Valide o código de um gift card e finalize o uso</ng-template>
        
        <ng-template #footer>
            <p-button severity="help" icon="pi pi-qrcode" 
            label="Validar código" class="w-full" styleClass="w-full" 
            (onClick)="showValidateDialog()"
            />
        </ng-template>
    </p-card>
    
    <p-card [style]="{ width: '20rem', overflow: 'hidden' }">
        <ng-template #title>
            <i class="pi pi-search" style="font-size: 1.5rem"></i> 
            Consultar Gifts gerados
        </ng-template>
        <ng-template #subtitle> Veja os gifts gerados e filtre por data ou status</ng-template>
        
        <ng-template #footer>
            <p-button severity="info" icon="pi pi-search" 
            label="Consultar Gifts" class="w-full" styleClass="w-full" 
            (onClick)="navigateToList()"
            />
        </ng-template>
    </p-card>

    <p-dialog
        header="Validar Gift"
        [(visible)]="validateDialog"
        [modal]="true"
        [style]="{ width: '90vw', maxWidth: '500px' }">

        <div class="gift-dialog">

            <label>Código do Gift</label>

            <input
            pInputText
            [(ngModel)]="giftCode"
            placeholder="GFT-12345678"
            class="w-full" />

            @if (giftOwner) {
                <div><strong>Nome:</strong> {{ giftOwner.name }}</div>
                <div><strong>WhatsApp:</strong> {{ giftOwner.phone }}</div>
            }

            <p-button
            [severity]="severityButtonValidating"
            [label]="labelButtonValidate"
            [loading]="validating"
            [icon]="iconButtonValidating"
            class="mt-4"
            styleClass="w-full"
            (onClick)="consultGift()" />

        </div>

        </p-dialog>
</div>