<article class="">
    <blockquote class="title-text">
        Cuide da sua arte, cuide de você
    </blockquote>  
    <p class="text-indent-default">
    Para garantir uma cicatrização perfeita e preservar sua tatuagem, siga estas recomendações:
    </p>

    <div class="text-indent-default">
        <p class="font-bold">Antes da sessão:</p> Hidrate a pele, evite álcool e cafeína no dia anterior e venha bem alimentado(a).
    </div>

    <div class="text-indent-default">
        <p class="font-bold">Depois da sessão:</p> 
        <ul class="list-disc list-inside">
            <li>Você sairá com um curativo, que deve ser mantido por 3 dias.</li>
            <li>Nas primeiras 24 horas, evite molhar a região.</li>
            <li>Após esse período, remova o curativo, lave a tatuagem com sabão neutro e aplique a pomada Bepantriz ou Cicaplast 3x ao dia.</li>
            <li>Evite sol e piscina por pelo menos 15 dias e mantenha a área sempre limpa e hidratada.</li>                        
        </ul>        
    </div>
    
</article>