<article class="text-balance">
    <blockquote class="title-text">
        Cuide da sua arte, cuide de você
    </blockquote>  
    <p class="text-indent-default">
    Para garantir uma cicatrização perfeita e preservar sua tatuagem, siga estas recomendações:
    </p>

    <p class="text-indent-default">
        Antes da sessão: Hidrate a pele, evite álcool e cafeína no dia anterior e venha bem alimentado(a).
    </p>

    <p class="text-indent-default">
        Depois da sessão: Você sairá com um curativo, que deve ser mantido por 3 dias. Nas primeiras 24 horas, evite molhar a região. Após esse período, remova o curativo, lave a tatuagem com sabão neutro e aplique a pomada Bepantriz ou Cicaplast 3x ao dia. Evite sol e piscina por pelo menos 15 dias e mantenha a área sempre limpa e hidratada.
    </p>
</article>