<article class="text-balance justify-items-center">
    
    <blockquote class="title-text">
        Seu corpo, sua arte, sua identidade    
    </blockquote>

    <p class="text-indent-default">Cada projeto é desenhado para complementar sua beleza, estilo e refletir quem você é.</p>
    
</article>

<div class="card flex items-center justify-center pt-16">
    <p-galleria [value]="images" [autoPlay]="true" [circular]="true" [showIndicators]="true" [showThumbnails]="false" [changeItemOnIndicatorHover]="true" [showItemNavigators]="true" [containerStyle]="{ 'max-width': '640px' }">
        <ng-template #item let-item>
            <img [src]="item.itemImageSrc" style="width: 100%;" />
        </ng-template>
    </p-galleria>
</div>