<footer class="barra-preta">
    <div class="container-icons">
            
      <div class="container-map">
        <a href="https://maps.app.goo.gl/2Xy8dVKWjZJ6Yvwf9" target="_blank" class="icon-default">
          <i class="pi pi-map-marker text-xl pr-2"></i>
          <span>DF Century Plaza - Torre A, Sala 701</span>        
        </a>        
      </div>
  
      <div class="flex space-x-4">
        <a href="https://www.instagram.com/juliamellotattoo/" target="_blank" class="icon-default">
          <i class="pi pi-instagram" style="font-size: 1.5rem"></i>
        </a>
        <a href="https://www.tiktok.com/@juliamellotatto0?_t=ZM-8ufXFXCenqx&_r=1" target="_blank" class="icon-default">
          <i class="pi pi-tiktok" style="font-size: 1.5rem"></i>
        </a>
        <a href="https://wa.me/message/JIJZI3JMOKQRA1" target="_blank" class="icon-default">
            <i class="pi pi-whatsapp" style="font-size: 1.5rem"></i>
        </a>        
      </div>
  
    </div>
  </footer>