<footer class="bg-black text-white py-6 px-4 text-center">
    <div class="flex flex-col items-center space-y-4">
      
      <!-- Ícone de Local -->
      <div class="flex items-center space-x-2">
        <i class="pi pi-map-marker text-xl"></i>
        <span>DF Century Plaza - Torre A, Sala 701</span>        
      </div>
  
      <!-- Ícones de Redes Sociais -->
      <div class="flex space-x-4">
        <a href="https://www.instagram.com/juliamellotattoo/" target="_blank" class="text-white hover:text-gray-400 text-2xl">
          <i class="pi pi-instagram" style="font-size: 1.5rem"></i>
        </a>
        <a href="https://www.tiktok.com/@juliamellotatto0?_t=ZM-8ufXFXCenqx&_r=1" target="_blank" class="text-white hover:text-gray-400 text-2xl">
          <i class="pi pi-tiktok" style="font-size: 1.5rem"></i>
        </a>
        <a href="https://wa.me/message/JIJZI3JMOKQRA1" target="_blank" class="text-white hover:text-gray-400 text-2xl">
            <i class="pi pi-whatsapp" style="font-size: 1.5rem"></i>
        </a>        
      </div>
  
    </div>
  </footer>