<div class="upload-container">

  <div class="header">

    <h3 class="title">
      {{ config.label }}
    </h3>

    <p class="recommendation">
      <i class="pi pi-info-circle"></i>

      Recomendo tamanho
      <strong>{{ config.recommendedSize }}</strong>
      para essa seção.
    </p>

  </div>

  <p-fileupload
    mode="advanced"
    [multiple]="config.maxFiles > 1"
    [accept]="'image/*'"
    [maxFileSize]="config.maxFileSize"
    [fileLimit]="config.maxFiles"
    [customUpload]="true"
    [showUploadButton]="true"
    [showCancelButton]="true"
    chooseLabel="Selecionar"
    uploadLabel="Enviar"
    cancelLabel="Cancelar"
    (uploadHandler)="onUpload($event)"
  />

</div>