

<div class="min-h-screen pt-8 pb-20 px-4">
    <router-outlet></router-outlet>
</div>

<div class="flex justify-center mb-4 pt-4 px-4 fixed bottom-0 left-0 right-0">
    <p-selectbutton
        styleClass="menu-select"
        [options]="menuOptions"
        [(ngModel)]="value"
        optionLabel="justify"
        (onOptionClick)="navigate($event.option)">
        <ng-template #item let-item>
            <i [class]="item.icon"></i>
        </ng-template>
    </p-selectbutton>
</div> 
 