p-inputMask {
    display: block;
    width: 100%;
  }

:host ::ng-deep .p-inputtext {     
    border: 2px solid;
    border-radius: 10px; 
    width: 100%;
} 

:host ::ng-deep .p-inputnumber {   
    width: 100%;
}