@import "primeicons/primeicons.css";
@import "tailwindcss";
@import "tailwindcss-primeui";

@font-face {
    font-family: 'arsenica';
    src: url('assets/fonts/ArsenicaTrial-Medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'poppins';
    src: url('assets/fonts/Poppins-ExtraLight.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.text-indent-default {
    @apply font-[poppins] text-center pt-4 indent-2 text-[#000000] dark:text-[#d1d5db];
}

.text-indent-variation {
    @apply font-[poppins] max-w-xl leading-relaxed space-y-4 text-[#000000] dark:text-[#d1d5db];
}

.title-text {
    @apply pt-20 text-center text-2xl font-semibold italic text-gray-900 dark:text-white;    
}

.highlight-text {
    @apply relative inline-block before:absolute before:-inset-1 before:block before:-skew-y-3 before:bg-black dark:before:bg-pink-500;
}

.font-color-highlighted {
    @apply relative text-white dark:text-gray-950;
}