<article class="text-balance">
    <blockquote class="title-text">
        Sobre a tatuadora                        
    </blockquote>
    
    <section
    class="w-full flex flex-col md:flex-row items-center md:items-start justify-center px-6 md:px-16 py-10 gap-10"
    >

    <!-- Elemento gráfico: IMAGEM -->
    <div class="flex-shrink-0">
        <img
        src="sobreatatuadora.png"
        alt="Elemento gráfico orgânico"
        class="w-52 h-72 object-cover organic-shape"
        />
    </div>

    <!-- Texto -->
    <div class="text-indent-variation">
        <p>Sou a Júlia, tatuadora especializada em fine line.</p>

        <p>Com mais de cinco anos na área criativa e experiência com ilustração, trago um olhar sofisticado para cada projeto.</p>

        <p>Minha missão? Criar tatuagens que valorizam sua estética, elevam sua autoestima e traduzem sua identidade através da arte.</p>
    </div>

    </section>  
</article>

