
<article class="text-balance">
    <blockquote class="title-text">
        Sobre a
        <span class="highlight-text">
            <span class="font-color-highlighted">tatuadora</span>
        </span>    
    </blockquote>
    
    <p class="text-indent-default">
        Sou a Júlia, tatuadora especializada em fine line. Com mais de cinco anos na área criativa e experiência com ilustração, trago um olhar sofisticado para cada projeto.     
        Minha missão? Criar tatuagens que valorizam sua estética, elevam sua autoestima e traduzem sua identidade através da arte.
    </p>
</article>